<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Enter</title>
</head>
<body>
<h2 th:text="${noUserName} != null ? ${noUserName.error} : ''"></h2>
<h1>Enter</h1>

<form th:action="@{/save}" method="post" th:object="${newUser}">
  <label for="username">Choose your name</label>
  <input type="hidden" th:field="*{id}"/>
  <input type="text" id="username" th:field="*{username}"/>
  <button type="submit">Enter</button>
</form>

</body>
</html>