<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Index</title>
</head>
<body>
<h1>Peer to Peer Chat Program</h1>

<form th:action="@{/update}" method="post" th:object="${user}">
  <label for="Your username">Your username:</label>
  <input th:type="hidden" th:field="*{id}" />
  <input type="text" id="Your username" th:field="*{userName}" th:placeholder="*{userName}"/>
  <button type="submit">update</button>
</form>

<ul>
  <li>App</li>
  <p>Hi there! Submit your message using the send button!</p>
</ul>
<ul th:each="message : ${messages}">
  <li th:hidden="${message.id}"></li>
  <li th:hidden="${message.timestamp}"></li>
  <li th:text="${message.userName}"></li>
  <p th:text="${message.text}"></p>
</ul>

<form th:action="@{/newMessage}" method="post" th:object="${message}">
  <input th:type="hidden" th:value="${message.id}" />
  <input th:type="hidden" th:value="${message.userName}" />
  <textarea type="text" th:field="*{text}" name="message"></textarea>
  <button type="submit">Send</button>
</form>

</body>
</html>